body {
    background:#154972;
    height: 100vh;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-box {
    width: 500px;
    height: 500px;
    background: #E5543F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 10px 25px 30px rgba(0, 0, 0, 0.1),
                2px 5px 5px rgba(0, 0, 0, 0.15);

    img {
        width: 365px;
        transform: rotate(-30deg);
        margin-right: 90px;
        margin-top: 50px;
    }

    h3 {
        color: #fff;
        margin-top: 100px;
        text-align: center;
        font: 20px Helvetica;
        font-weight: bold;
        letter-spacing: 1.5px;
    }
}

@media screen and (max-width: 600px) {
    .product-box {
        display: none;
    }
}


.checkout-box {
    width: 440px;
    height: 600px;
    background: #f2f2f2;
    border-radius: 15px;
    margin-left: -30px;
    box-shadow: 10px 25px 30px 30px rgba(0, 0, 0, 0.1),
                2px 5px 5px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-family: Helvetica;
        color: #595959;
        margin-top: 35px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    label {
        margin-top: 30px;
    }

    p {
        color: #E5543F;
        font-family: Helvetica;
    }

    .form-name {
        width: 300px;
        height: 40px;
        background: #f2f2f2;
        font-size: 15px;
        border: solid 1px #E5543F;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
        margin-top: -30px;
    }

    .card-number {
        width: 300px;
        height: 40px;
        background: #f2f2f2;
        font-size: 15px;
        border: solid 1px #E5543F;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
        margin-top: -30px;
    }

    .date-cvv {
        display: flex;

        .ex-date {
            width: 190px;
            height: 40px;
            background: #f2f2f2;
            font-size: 15px;
            border: solid 1px #E5543F;
            border-top: none;
            border-left: none;
            border-right: none;
            outline: none;
            margin-top: -30px;
        }

        .cvv {
            width: 100px;
            height: 40px;
            background: #f2f2f2;
            font-size: 15px;
            border: solid 1px #E5543F;
            border-top: none;
            border-left: none;
            border-right: none;
            outline: none;
            margin-top: -30px;
            margin-right: 10px;
        }
    }

    

    .payment-amount {
        display: flex;
        margin-top: 30px;
        align-self: flex-start;

        h3 {
            font-family: Helvetica;
            margin-left: 10px;
            margin-top: 15px;
            color: #595959;
        }
    }

    button {
        width: 190px;
        height: 60px;
        background: #E5543F;
        border-radius: 25px;
        border: none;
        box-shadow: 7px 20px 25px 25px rgba(0, 0, 0, 0.1),
                    1px 3px 3px 1px rgba(0, 0, 0, 0.15);
        
        font-size: 24px;
        color: #fff;
        font-family: Helvetica;
        font-weight: 9px;
        cursor: pointer;

        &:hover {
            width: 195px;
            height: 63px;
        }
        
    }

}

